USE [master]
GO
/****** Object:  Database [PersonelProje]    Script Date: 2.05.2024 20:21:08 ******/
CREATE DATABASE [PersonelProje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonelProje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PersonelProje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PersonelProje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PersonelProje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonelProje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonelProje]
GO
/****** Object:  Table [dbo].[Tbl_Admin]    Script Date: 2.05.2024 20:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Admin](
	[Kullanici_Adi] [varchar](10) NULL,
	[Sifre] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Personel]    Script Date: 2.05.2024 20:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Personel](
	[Per_Id] [smallint] IDENTITY(1,1) NOT NULL,
	[Per_Ad] [varchar](10) NULL,
	[Per_Soyad] [varchar](20) NULL,
	[Per_Sehir] [varchar](13) NULL,
	[Per_Maas] [smallint] NULL,
	[Per_Cinsiyet] [bit] NULL,
	[Per_Meslek] [varchar](15) NULL
) ON [PRIMARY]
GO
USE [master]
GO
